body {
  margin: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css */

body {
  background-color: #0889f3;  
  overflow-x: hidden;
}


body{
  font-family: "Roboto", sans-serif !important;
  font-optical-sizing: auto !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-variation-settings:
    "wdth" 100 !important;
}

.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

/* Modal dialog shadow & rounded */
.custom-modal .modal-content {
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  animation: slideDown 0.5s ease;
  border: none;
}

/* Header colors */
.modal-header-custom {
  background: linear-gradient(90deg, #4b6cb7, #182848);
  border-bottom: none;
}

/* Body colors */
.modal-body-custom {
  background: #f0f4f8;
  color: #333;
  font-size: 16px;
}

/* Footer background */
.modal-footer-custom {
  background: #f0f4f8;
  border-top: none;
}

/* List styles */
.custom-list li {
  margin-bottom: 10px;
  font-weight: 500;
}

/* Slide down animation */
@keyframes slideDown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
